{% extends "base.html" %}

{% block title %}About Us - Tube2Tune{% endblock %}

{% block meta_description %}Learn more about Tube2Tune and how we help you convert YouTube videos to MP3 files efficiently and effectively.{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Tube2Tune is dedicated to providing a simple and efficient solution for converting YouTube videos to MP3 files. Our mission is to make media conversion accessible and user-friendly for everyone.</p>
{% endblock %}
